{% extends 'base_front.html.twig' %}

{% block title %}Modifier la réclamation{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="style.css">
    <h1>Modifier la réclamation</h1>

    <form method="post">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary" name="update_and_list">{{ 'Mettre à jour et retourner à la liste' }}</button>
    </form>
    
    {% if app.request.method == 'POST' and app.request.request.has('update_and_list') %}
        {% set redirectToPath = path('reclamation') %}
        <script type="text/javascript">
            window.location.href = "{{ redirectToPath }}";
        </script>
    {% endif %}
{% endblock %}



